<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Fill out the form: </h1>

    <form action="/process" method='POST'>
        {% csrf_token %}
        Name: <input type="text" name='name'>
        Dojo Location: <select name='location'>
            {% for loc in locations %}
            <option value='{{ loc }}'>{{loc}}</option>
            {% endfor %}
        </select>
        Favorite Language: <select name='language'>
            {% for lang in languages %}
            <option value='{{ lang }}'>{{lang}}</option>
            {% endfor %}
        </select>
        <input type="submit" value='View User'>
    </form>
    
</body>
</html>